################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Fastmap.TileGenerator/.vs/Fastmap.TileGenerator
